setuptools==57. # error in PyBluez setup command: use_2to3 is invalid.
pybluez
obd
cantools
flask
influxdb
pytz
adafruit-circuitpython-rgb-display
Pillow

# mac:
# pyobjc # mac lightblue
# $ xcode-select --install



